*{
    margin: 0 auto;
}

body{
    background-color: navy;
    display: flex;
}

.box{
    background-color: aliceblue;
    display: inline;
    height: 250px;
    width: 250px;
}

h1 {
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

p{
    text-align: center;
}